<a href="https://colab.research.google.com/github/Ashley-Morais-Perez/sqlite_dataexploration/blob/main/nyc_airquality_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
import pandas as pd

In [12]:
df = pd.read_csv('https://data.cityofnewyork.us/api/views/c3uy-2p5r/rows.csv?accessType=DOWNLOAD')

In [13]:
df

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409.0,Southeast Queens,2015,01/01/2015,0.3,NaN
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209.0,Bensonhurst - Bay Ridge,2015,01/01/2015,1.2,NaN
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209.0,Bensonhurst - Bay Ridge,Annual Average 2012,12/01/2011,8.6,NaN
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Annual Average 2012,12/01/2011,8.0,NaN
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Summer 2022,06/01/2022,6.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
18020,816914,643,Annual vehicle miles traveled,Million miles,per square mile,CD,503.0,Tottenville and Great Kills (CD3),2019,01/01/2019,12.9,NaN
18021,816913,643,Annual vehicle miles traveled,Million miles,per square mile,CD,503.0,Tottenville and Great Kills (CD3),2010,01/01/2010,14.7,NaN
18022,816872,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,208.0,Canarsie - Flatlands,2010,01/01/2010,43.4,NaN
18023,816832,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,407.0,Southwest Queens,2010,01/01/2010,65.8,NaN
18024,151658,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,408.0,Jamaica,2005,01/01/2005,41.0,NaN

In [51]:
# Connect to the SQLite database (or create one if it doesn't exist)
conn = sqlite3.connect('your_database_name.db')

# Query 1: Select all records based on a specific filter of your choice
# Filter will be on Geo Place Name for the area of Jamaica
query = "SELECT * FROM nyc_data WHERE [Geo Place Name] = 'Jamaica';"

# Read the results into a DataFrame
filtered_df = pd.read_sql_query(query, conn)

# Display the filtered records
print(filtered_df)

     Unique ID  Indicator ID                                    Name  \
0       742269           365                 Fine particles (PM 2.5)
1       176712           375                  Nitrogen dioxide (NO2)
2       825997           375                  Nitrogen dioxide (NO2)
3       176040           375                  Nitrogen dioxide (NO2)
4       175956           375                  Nitrogen dioxide (NO2)
..         ...           ...                                     ...
264     151754           645  Annual vehicle miles traveled (trucks)
265     151706           644    Annual vehicle miles traveled (cars)
266     816829           643           Annual vehicle miles traveled
267     816830           643           Annual vehicle miles traveled
268     151658           643           Annual vehicle miles traveled

           Measure     Measure Info Geo Type Name  Geo Join ID Geo Place Name  \
0             Mean           mcg/m3         UHF42        408.0        Jamaica
1             Mean              ppb         UHF42        408.0        Jamaica
2             Mean              ppb         UHF42        408.0        Jamaica
3             Mean              ppb         UHF42        408.0        Jamaica
4             Mean              ppb         UHF42        408.0        Jamaica
..             ...              ...           ...          ...            ...
264  Million miles  per square mile         UHF42        408.0        Jamaica
265  Million miles  per square mile         UHF42        408.0        Jamaica
266  Million miles  per square mile         UHF42        408.0        Jamaica
267  Million miles  per square mile         UHF42        408.0        Jamaica
268  Million miles  per square mile         UHF42        408.0        Jamaica

             Time Period  Start_Date  Data Value Message
0    Annual Average 2021  01/01/2021         6.4    None
1    Annual Average 2013  12/01/2012        19.0    None
2            Summer 2022  06/01/2022        10.5    None
3            Summer 2012  06/01/2012        16.2    None
4            Summer 2010  06/01/2010        17.9    None
..                   ...         ...         ...     ...
264                 2005  01/01/2005         1.6    None
265                 2005  01/01/2005        39.1    None
266                 2019  01/01/2019        47.8    None
267                 2010  01/01/2010        52.8    None
268                 2005  01/01/2005        41.0    None

[269 rows x 12 columns]

In [42]:
# Query 2:  Count the number of records that meet a certain condition
# The number of times Jamaica appears in the column will be counted
query = "SELECT COUNT(*) AS record_count FROM nyc_data WHERE [Geo Place Name] = 'Jamaica';"

count_df = pd.read_sql_query(query, conn)

print(count_df)

   record_count
0           269

In [44]:
# Query 3: Group the data by a specific column and calculate a summary statistic
# Each geo place name will be grouped by the average of the column data value (data value refers to the number of certain particles in the air)
query = "SELECT [Geo Place Name], AVG([Data Value]) AS average_value FROM nyc_data GROUP BY [Geo Place Name];"

grouped_df = pd.read_sql_query(query, conn)

print(grouped_df)

                           Geo Place Name  average_value
0                                    None      53.333333
1      Bay Ridge and Dyker Heights (CD10)      18.738182
2                   Bayside - Little Neck      15.310588
3       Bayside Little Neck-Fresh Meadows      15.822222
4          Bayside and Little Neck (CD11)      17.996364
..                                    ...            ...
110                           West Queens      19.915985
111  Williamsbridge and Baychester (CD12)      17.220909
112               Williamsburg - Bushwick      26.159108
113                           Willowbrook      15.445294
114          Woodside and Sunnyside (CD2)      21.940909

[115 rows x 2 columns]

In [47]:
# Query 4: Sort the records based on a numerical or categorical field and return a limited set of results
# The top 5 highest values from the column 'Data Value' will be sorted

query = "SELECT * FROM nyc_data ORDER BY [Data Value] DESC LIMIT 5;"

sorted_df = pd.read_sql_query(query, conn)

print(sorted_df)

   Unique ID  Indicator ID                                              Name  \
0     130806           648   Asthma emergency department visits due to PM2.5
1     130807           648   Asthma emergency department visits due to PM2.5
2     130792           648   Asthma emergency department visits due to PM2.5
3     131431           648   Asthma emergency department visits due to PM2.5
4     131046           653  Asthma emergency departments visits due to Ozone

                                Measure          Measure Info Geo Type Name  \
0  Estimated annual rate (under age 18)  per 100,000 children         UHF42
1  Estimated annual rate (under age 18)  per 100,000 children         UHF42
2  Estimated annual rate (under age 18)  per 100,000 children         UHF42
3  Estimated annual rate (under age 18)  per 100,000 children         UHF42
4  Estimated annual rate (under age 18)  per 100,000 children         UHF42

   Geo Join ID                        Geo Place Name Time Period  Start_Date  \
0        302.0  Central Harlem - Morningside Heights   2005-2007  01/01/2005
1        303.0                           East Harlem   2005-2007  01/01/2005
2        106.0              High Bridge - Morrisania   2005-2007  01/01/2005
3        303.0                           East Harlem   2009-2011  01/01/2009
4        302.0  Central Harlem - Morningside Heights   2005-2007  01/01/2005

   Data Value Message
0       424.7    None
1       354.2    None
2       308.0    None
3       299.4    None
4       292.5    None